<div class="container">
    <nav>
        <div>
            <ul>
                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/">Главная</a></li>
                <li routerLinkActive="active"><a [routerLink]="'/cars'">Машины</a></li>
            </ul>
        </div>
    </nav>
    <div class="row">
        <div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>









<!-- <div>
    <h1 *ngIf="appTitle | async as title">{{ title.value }}</h1>
    <input type="text" [(ngModel)]="carName">
    <hr>
    <button (click)="loadCars()">Показать машины</button>
    <button (click)="addCar()">Добавить машину</button>
    <hr>
    <ul>
        <li *ngFor="let car of cars | async">
            <span [ngStyle]="{background: car.color}">{{ car.id}} </span>
            {{car.name}}
            <button (click)="setNewColor(car)">Изменить цвет</button>
            <button (click)="deleteCar(car)">Удалить</button>
        </li>
    </ul>
</div> -->


